- content_for :bodyClass do
	welcome editor

%h1 Welcome Page Editor

%ul.edit-features
	%li Header Style
	%li Font Family
	%li Font Size
	%li Font Color

%form
	%textarea.editor

.form-buttons
	%button Cancel
	%button Preview
	%button Submit

